<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ing.eatwhat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
   
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />		<!-- 开机自启 -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />				<!-- 允许发送广播 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />  
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />				<!-- 读取机型信息 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />			<!-- 允许程序修改全局音频设置 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />		<!-- 读写外部储存设备 -->
    <uses-permission android:name="android.permission.CAMERA" />						<!-- 摄像头控制权限，管理相机功能的启用 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />						<!-- 使用加速传感器的权限，防止设备休眠 -->
    <uses-permission android:name="android.permission.VIBRATE" />						<!-- 使用震动 -->
	<uses-permission android:name="android.permission.INTERNET" />						<!-- 访问网络的权限 -->
   	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />			<!-- 获取网络状态 -->
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />				<!-- 获取使用Wi-Fi等WLAN无线网络的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
   
    <application
        android:name="com.ing.eatwhat.entity.ExceptionApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.umeng.fb.ContactActivity"
            android:theme="@android:style/Theme.NoTitleBar" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="545e1e6cfd98c5eca3006740" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />
        

        <activity
            android:name="com.ing.eatwhat.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ing.eatwhat.activity.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.ing.eatwhat.activity.RegisterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.ing.eatwhat.activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.ing.eatwhat.activity.AddFoodActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.ing.eatwhat.activity.GuideActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.ing.eatwhat.activity.SettingActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.ing.eatwhat.activity.AboutUsActivity"
            android:label="@string/app_name" >
        </activity>
        
    </application>

</manifest>